<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="TraceLogFile" fileName="logs/repair_agency_app_trace.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="InfoLogFile" fileName="logs/repair_agency_app_info.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TraceLogFile"/>
            <AppenderRef ref="InfoLogFile" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>