* {
    box-sizing: border-box;
}

.row {
    text-align: center;
}

.column-middle {
    display: inline-block;
    width: 100%;
}

.column-middle-left {
    display: inline-block;
    width: 56%;
    padding-bottom: 8px;
}

.column-middle-right {
    display: inline-block;
    width: 43%;
    padding-bottom: 8px;

}

@media (min-width: 1300px) {
    .column-left, .column-right {
        display: initial;
    }
    .column-middle {
        width: 70%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.req-table td:nth-child(n+1):nth-child(-n+2) {
    text-align: center;
    width: 50px;
}

.req-table td:nth-child(n+3):nth-child(-n+7) {
    text-align: center;
    max-width: 180px;
    min-width: 180px;
}

.req-table td:nth-child(n+6):nth-child(-n+7){
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.req-table td:nth-child(8) {
    padding: 2px;
    text-align: center;
}

.filter-frame {
    display: inline-block;
    width: 36%;
}

.sort-frame {
    display: inline-block;
    width: 36%;
}

.order-frame {
    display: inline-block;
    position: relative;
    top: 3px;
    padding-top: 9px;
    padding-left: 1px;
    min-width: 145px;
    min-height: 42px;
    width: 26%;
}