@import "elements/error.css";
@import "elements/table.css";
@import "elements/submit.css";
@import "elements/text.css";
@import "elements/select.css";
@import "elements/modal.css";
@import "elements/toggle-radio.css";
@import "elements/textarea.css";
@import "elements/nav-bar.css";
@import "elements/dropdown.css";
@import "elements/lang-switch.css";

@font-face {
    font-family: main-font;
    src: url('../fonts/OpenSans-Regular.ttf');
}

html {
    font-family: main-font, serif;
    min-width: 880px;
    overflow-y: auto;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    top: 154px;
    bottom: 0;
    overflow-y:scroll;
}

button {
    display:inline-block;
    border: initial;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    text-align: center;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    background:#10bc98;
    color:#fff;
    transition: initial;
}

button:hover {
    background:#13d7ae;
}

button:active, button:focus{
    background:#0fae8d;
}

.head {
    visibility: hidden;
    white-space: nowrap;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 800px) {
    .head {
        visibility: initial;
    }
}

.medium-text {
    font-size: 18px;
}

.button-img {
    max-block-size: 50px;
    vertical-align: middle;
}

.log-in-out-button {
    position: absolute;
    top: 20px;
    right: 30px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 30px;
}

.blue-button {
    border: initial;
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    transition: all 0.15s ease;
    color: #19667d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be));
}

.blue-button:hover {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#70c9e3), color-stop(100%,#39a0be));
    color: white;
}

.btn-left {
    text-align: left;
}