form {
    width: 500px;
    padding: 15px;
    margin: 25px auto 0 auto;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    display: inline-block;
}

table td {
    text-align: left;
    border: none;
}

table tr,
table tr:hover {
    background-color: initial !important;
    font-size: 18px;
    color: initial;
}

table td:nth-child(1) {
    width: 50px;
}

.text-frame {
    display: inline-block;
    text-align: center;
    width: 100%;
}

input[type=submit] {
    margin-top: 14px;
}