.error-img {
    display: inline-block;
    max-block-size: 50px;
}

.error {
    margin: 20px auto;
    width: max-content;
    background: #b31313;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.error-page {
    margin-top: 150px;
}