.settings-form {
    width: 400px;
    padding: 15px;
    margin: 25px auto 0 auto;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}

.input-text-form {
    width: 270px !important;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    margin: 20px 0 25px 0;
}