.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar li {
    float: left;
}

.nav-bar li a,
.nav-bar li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}