input[type=submit] {
    font-size: 14px;
    border: initial;
    border-radius: 7px;
    cursor: pointer;
    padding: 13px 23px 14px 23px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    background:#10bc98;
    color:#fff;
    transition: initial;
}

input[type=submit]:hover {
    background:#13d7ae;
}

input[type=submit]:active,
input[type=submit]:focus{
    background:#0fae8d;
}